<div class="Footer">
    <div class="Footer__Container">
        <div class="Footer__AboutUs">
            <span> 聯絡我們</span>
            <span>
                <span>
                    周一至周五<br>
                    08:00~20:00 電話: (02)3789-7555<br>
                    08:30~17:30 電話: (02)2514-1125, (02)2514-1242
                </span>
                <span>
                    E-Mail : tdcc@tdcc.com.tw <br>
                    台北市復興北路363號11樓
                </span>
                <span>
                    <img src="../../../../../assets/img/b1.png" alt="">
                    <img src="../../../../../assets/img/b2.png" alt="">
                </span>
            </span>
        </div>
    </div>
</div>