@mixin column {
    display: flex;
    flex-direction: column;
}
@mixin row {
    display: flex;
    flex-direction: row;
}
@mixin column-a-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin row-a-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin item {
    cursor: default;
    font-size: 15px;
    font-weight: normal;
    color: rgb(121, 121, 121);
    white-space:nowrap;
}