<div class="Nav">
    <div class="Nav__Container">
        <img src="../assets/img/logo.png" alt="">
        <ul>
            <li>首頁</li>
            <li>關於我們</li>
            <li>活動消息</li>
            <li>統計專區</li>
            <li>Q&A</li>
            <li>聯絡我們</li>
            <li>登入
                <div class="Nav__LoginCard">
                    <span></span>
                    <span #Image></span>
                    <ul class="Nav__LoginCategory">
                        <li>一般股東</li>
                        <li>發行公司/<br>股務代理機構</li>
                        <li>專業機構法人</li>
                    </ul>
                    <div class="Nav__LoginInput">
                        <span>身分證/統一編號</span>
                        <input type="text">
                        <span>憑證種類</span>
                        <input type="text">
                        <span>操作教學<i class="fa fa-question-circle"></i></span>
                        <button>登入</button>
                    </div>
                    <div class="Nav__NoviceTeaching">
                        <button>新手上路</button>
                        <button>首次使用設定</button>
                    </div>
                </div>
            </li>
        </ul>
        <i class="fa fa-bars"></i>

    </div>

</div>