@import "../../../../../styles/style";
.Nav {
    @include row-a-center();
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: rgb(250, 250, 250);
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
    &__Container {
        @include column-a-center();
        width: 100%;
        height: 100%;
        & > div {
            @include row-a-center();
            justify-content: space-between;
            width: 1170px;
            & > i {
                visibility: hidden;
                width: 0;
            }
            & > img {
                cursor: pointer;
                width: 290px;
            }
            & > ul {
                @include row();
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
                font-size: 15px;
                color: rgb(73, 73, 73);
                border-right: 1px solid rgb(235, 233, 233);
                list-style: none;
                & > li {
                    cursor: pointer;
                    height: 100%;
                    padding: 20px 16px;
                    border-left: 1px solid rgb(235, 233, 233);
                    background-color: rgb(245, 245, 245);
                    &:hover {
                        color: rgb(255, 255, 255);
                        background-color: rgb(108, 168, 224);
                    }
                }
                & > li:last-child {
                    position: relative;
                    color: rgb(255, 255, 255);
                    background-color: rgb(190, 172, 64);
                    &:hover {
                        background-color: rgb(230, 209, 94);
                    }
                }
            }
        }
    }
    &__News {
        @include row-a-center();
        width: 900px;
        height: 45px;
        background-color: rgb(255, 255, 255);
        & > span:first-child {
            @include row-a-center();
            justify-content: center;
            width: 80px;
            height: 100%;
            padding: 0 10px;
            font-size: 15px;
            color: rgb(255, 255, 255);
            background-color: rgb(108, 168, 224);
            // border-radius: 8px 0 0 8px;
        }
        & > span:nth-child(2) {
            @include row-a-center();
            justify-content: center;
            padding-left: 20px;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                color: rgb(136, 136, 136);
            }
        }
        & > span:last-child {
            padding-right: 25px;
            font-size: 14px;
            font-weight: 800;
            color: rgb(155, 155, 155);
            cursor: pointer;
            &:hover {
                color: rgb(136, 136, 136);
            }
        }
    }
}

@media screen and (max-width: 1190px) {
    .Nav {
        &__Container {
            & > div {
                width: 100%;
            }
        }
        &__News {
            width: 100%;
        }
    }
}

@media screen and (max-width: 890px) {
    .Nav {
        height: auto;
        padding: 0 10px;
        &__Container {
            & > div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 50px;
                & > img {
                    width: 250px;
                    padding-left: 10px;
                }
                & > i {
                    cursor: pointer;
                    visibility: visible;
                    padding-right: 40px;
                    font-size: 25px;
                    color: rgb(108, 168, 224);
                }
                & > ul {
                    visibility: hidden;
                    max-width: 20px;
                }
            }
        }
        &__News {
            width: 100%;
            & > span:first-child {
                min-width: 80px;
            }
            & > span:nth-child(2) {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: normal;
            }
            & > span:last-child {
                visibility: hidden;
            }
        }
    }
}
