<div class="Nav">
    <div class="Nav__Container">
        <div>
            <img src="../assets/img/logo.png" alt="">
            <ul>
                <li>首頁</li>
                <li>關於我們</li>
                <li>活動消息</li>
                <li>統計專區</li>
                <li>Q&A</li>
                <li>聯絡我們</li>
                <li>登入</li>
            </ul>
            <i class="fa fa-bars"></i>
        </div>
        <div class="Nav__News">
            <span>活動消息</span>
            <span>金管會發布命令規範自110年1月1日起，全體上市（櫃）公司董監事選舉應採候選人提名制度。 </span>
            <span>更多></span>
        </div>
    </div>

</div>