<div class="ShareHoldersMeeting">
    <div class="ShareHoldersMeeting__Container">
        <div class="ShareHoldersMeeting__News">
            <span>活動消息</span>
            <span>金管會發布命令規範自110年1月1日起，全體上市（櫃）公司董監事選舉應採候選人提名制度。 </span>
            <span>更多></span>
        </div>
        <span class="ShareHoldersMeeting__Title">股東會資訊</span>
        <div class="ShareHoldersMeeting__Page">
            <div>
                <span class="ShareHoldersMeeting__Arrange">
                    <span>依</span>
                    <span>股東會日期由遠至近</span>
                    <button><i class="fa fa-chevron-down"></i></button>
                    <span>排列</span>
                    <i class='fa fa-reorder'></i>
                </span>
                <span class="ShareHoldersMeeting__Search">
                    <span>
                        <span>依<span>證券代號</span><i class="fa fa-chevron-down"></i>搜尋</span>
                    </span>
                    <input type="text" placeholder="輸入">
                    <button><i class="fa fa-search"></i></button>
                </span>
            </div>
            <ul class="ShareHoldersMeeting__PageContent">
                <li>
                    <span>證券代號/名稱</span><span>股東會日期</span><span>投票起訖日期</span><span>服務單位</span><span>連絡電話</span>
                </li>
                <li>
                    <span>1707 葡萄王</span><span>110 / 01 / 08</span><span>109/12/30 ~
                        110/01/11</span><span>群益金鼎證券</span><span>(02) 27035000</span>
                </li>
                <li>
                    <span>2939 凱羿-KY</span><span>110 / 01 / 08</span><span>109/12/24 ~
                        110/01/05</span><span>中國信託商業銀行代理部</span><span>(02) 66365566</span>
                </li>
                <li>
                    <span>8477 創業家</span><span>110 / 01 / 08</span><span>109/12/24 ~
                        110/01/05</span><span>群益金鼎證券</span><span>(02) 27035000</span>
                </li>
                <li>
                    <span>3317 尼克森</span><span>110 / 01 / 04</span><span>109/12/19 ~
                        110/01/05</span><span>華南永昌證券</span><span>(02) 27186425</span>
                </li>
                <li>
                    <span>6165 捷泰</span><span>109 / 12 / 31</span><span>109/12/16 ~
                        109/12/28</span><span>福邦證券</span><span>(02) 87871888</span>
                </li>
                <li>
                    <span>6165 捷泰</span><span>109 / 12 / 31</span><span>109/12/16 ~
                        109/12/28</span><span>福邦證券</span><span>(02) 87871888</span>
                </li>
                <li>
                    <span>6165 捷泰</span><span>109 / 12 / 31</span><span>109/12/16 ~
                        109/12/28</span><span>福邦證券</span><span>(02) 87871888</span>
                </li>
                <li>
                    <span>6165 捷泰</span><span>109 / 12 / 31</span><span>109/12/16 ~
                        109/12/28</span><span>福邦證券</span><span>(02) 87871888</span>
                </li>
                <li>
                    <span>6165 捷泰</span><span>109 / 12 / 31</span><span>109/12/16 ~
                        109/12/28</span><span>福邦證券</span><span>(02) 87871888</span>
                </li>
                <li>
                    <span>6165 捷泰</span><span>109 / 12 / 31</span><span>109/12/16 ~
                        109/12/28</span><span>福邦證券</span><span>(02) 87871888</span>
                </li>
                <li >
                        <span>1</span><span>. 2 . 3 . 4 . 5 . 6 . 7 . 8</span>
                </li>
            </ul>
        </div>
    </div>
</div>