<div class="ShareHoldersMeeting">
    <div class="ShareHoldersMeeting__Container">
        <span class="ShareHoldersMeeting__Title">股東會資訊</span>
        <div class="ShareHoldersMeeting__Page">
            <div>
                <span class="ShareHoldersMeeting__Arrange">
                    <span>依</span>
                    <span>股東會日期由遠至近</span>
                    <button><i class="fa fa-chevron-down"></i></button>
                    <span>排列</span>
                    <i class='fa fa-reorder'></i>
                </span>
                <span class="ShareHoldersMeeting__Search">
                    <span>
                        <span>依<span>證券代號</span><i class="fa fa-chevron-down"></i>搜尋</span>
                    </span>
                    <input type="text" placeholder="輸入">
                    <button><i class="fa fa-search"></i></button>
                </span>
            </div>
            <ul class="ShareHoldersMeeting__PageContent">
                <li>
                    <span>
                        <span>證券代號/名稱</span><span>股東會日期</span>
                    </span>
                    <span>
                        <span>投票起訖日期</span>
                        <span>
                            <span>服務單位</span><span>連絡電話</span>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <span>1707 葡萄王</span><span>110 / 01 / 08</span>
                    </span>
                    <span>
                        <span>109/12/30 ~110/01/11</span>
                        <span>
                            <span>群益金鼎證券</span><span>(02) 27035000</span>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <span>1707 葡萄王</span><span>110 / 01 / 08</span>
                    </span>
                    <span>
                        <span>109/12/30 ~110/01/11</span>
                        <span>
                            <span>群益金鼎證券</span><span>(02) 27035000</span>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <span>1707 葡萄王</span><span>110 / 01 / 08</span>
                    </span>
                    <span>
                        <span>109/12/30 ~110/01/11</span>
                        <span>
                            <span>群益金鼎證券</span><span>(02) 27035000</span>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <span>1707 葡萄王</span><span>110 / 01 / 08</span>
                    </span>
                    <span>
                        <span>109/12/30 ~110/01/11</span>
                        <span>
                            <span>群益金鼎證券</span><span>(02) 27035000</span>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <span>1707 葡萄王</span><span>110 / 01 / 08</span>
                    </span>
                    <span>
                        <span>109/12/30 ~110/01/11</span>
                        <span>
                            <span>群益金鼎證券</span><span>(02) 27035000</span>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <span>1707 葡萄王</span><span>110 / 01 / 08</span>
                    </span>
                    <span>
                        <span>109/12/30 ~110/01/11</span>
                        <span>
                            <span>群益金鼎證券</span><span>(02) 27035000</span>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <span>1707 葡萄王</span><span>110 / 01 / 08</span>
                    </span>
                    <span>
                        <span>109/12/30 ~110/01/11</span>
                        <span>
                            <span>群益金鼎證券</span><span>(02) 27035000</span>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <span>1707 葡萄王</span><span>110 / 01 / 08</span>
                    </span>
                    <span>
                        <span>109/12/30 ~110/01/11</span>
                        <span>
                            <span>群益金鼎證券</span><span>(02) 27035000</span>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <span>1707 葡萄王</span><span>110 / 01 / 08</span>
                    </span>
                    <span>
                        <span>109/12/30 ~110/01/11</span>
                        <span>
                            <span>群益金鼎證券</span><span>(02) 27035000</span>
                        </span>
                    </span>
                </li>
                <li>
                    <span>
                        <span>1707 葡萄王</span><span>110 / 01 / 08</span>
                    </span>
                    <span>
                        <span>109/12/30 ~110/01/11</span>
                        <span>
                            <span>群益金鼎證券</span><span>(02) 27035000</span>
                        </span>
                    </span>
                </li>
                <li>
                    <span>1</span><span>. 2 . 3 . 4 . 5 . 6 . 7 . 8</span>
                </li>
            </ul>
        </div>
    </div>
</div>