@import "../../../../../styles/style";
.ShareHoldersMeeting {
    @include column-a-center();
    width: 100%;
    height: 100%;
    &__Container {
        width: 900px;
    }

    &__Title {
        @include row();
        font-size: 34px;
        font-weight: 800;
        color: #4b5566;
        padding: 25px 0 10px 20px;
    }

    &__Page {
        & > div {
            @include row-a-center();
            width: 860px;
            padding: 10px 20px 0 20px;
            border-bottom: 1px solid rgb(207, 207, 207);
        }
    }

    &__Arrange {
        @include row-a-center();
        height: 45px;
        padding: 0 10px;
        margin-bottom: -1px;
        background-color: #fff;
        border-radius: 5px 5px 0 0;
        border: 1px solid rgb(207, 207, 207);
        border-bottom: 1px solid rgb(255, 255, 255);
        & > span {
            display: flex;
            align-items: center;
            height: 35px;
            padding: 0 2px;
            font-size: 15px;
            color: rgb(105, 105, 105);
        }
        & > span:nth-child(2) {
            cursor: pointer;
            padding: 0 2px;
            font-size: 15px;
            font-weight: 600;
            color: rgb(19, 19, 19);
        }
        & > button {
            cursor: pointer;
            width: 24px;
            font-size: 14px;
            color: rgb(45, 134, 218);
            background-color: #fff;
            border: none;
            outline-style: none;
        }
        & > i {
            cursor: pointer;
            padding-left: 10px;
            margin-left: 10px;
            font-size: 13px;
            color: rgb(65, 65, 65);
            background-color: #fff;
            border: none;
            border-radius: 0 5px 5px 0;
            border-left: 1px solid rgb(207, 207, 207);
            outline-style: none;
        }
    }

    &__Search {
        @include row-a-center();
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid rgb(207, 207, 207);
        margin: 0 0 3px 25px;
        & > span {
            padding: 0 10px;
            & > span {
                display: flex;
                align-items: center;
                height: 35px;
                padding: 0 2px;
                font-size: 15px;
                color: rgb(105, 105, 105);
                & > span {
                    cursor: pointer;
                    padding: 0 5px;
                    font-size: 15px;
                    font-weight: 600;
                    color: rgb(19, 19, 19);
                }
                & > i {
                    cursor: pointer;
                    padding: 0 6px;
                    font-size: 14px;
                    color: rgb(45, 134, 218);
                }
            }
        }
        & > input {
            display: flex;
            align-items: center;
            width: 100px;
            height: 35px;
            padding: 0 10px;
            font-size: 15px;
            color: rgb(105, 105, 105);
            border: none;
            border-left: 1px solid rgb(207, 207, 207);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            outline-style: none;
        }
        & > button {
            cursor: pointer;
            width: 37px;
            font-size: 13px;
            color: rgb(65, 65, 65);
            background-color: #fff;
            border: none;
            border-radius: 0 5px 5px 0;
            border-left: 1px solid rgb(207, 207, 207);
            outline-style: none;
        }
    }

    &__PageContent {
        @include column-a-center();
        width: 900px;
        margin: 0;
        padding: 0;
        list-style: none;
        border-top: 1px solid rgb(233, 232, 232);
        & > li {
            @include row-a-center();
            width: 100%;
            height: 55px;
            padding: 15px;
            font-size: 14px;
            background-color: rgb(255, 255, 255);
            border-bottom: 1px solid rgb(233, 232, 232);
            white-space:nowrap;
            &:hover {
                background-color: rgb(241, 245, 250);
            }
            & > span:first-child {
                @include row-a-center();
                width: 35%;
                & > span:first-child {
                    cursor: pointer;
                    width: 65%;
                    font-size: 19px;
                    font-weight: 600;
                    color: rgb(0, 87, 218);
                    font-family: Arial, Helvetica, sans-serif;
                }
                & > span:nth-child(2) {
                    width: 35%;
                    font-weight: 600;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            & > span:nth-child(2) {
                @include row-a-center();
                width: 65%;
                font-size: 15px;
                font-weight: 400;
                & > span:first-child {
                    width: 35%;
                }
                & > span:nth-child(2) {
                    @include row-a-center();
                    width: 65%;
                    & > span:first-child {
                        cursor: pointer;
                        width: 60%;
                        font-size: 17px;
                        font-weight: 800;
                        color: rgb(45, 134, 218);
                    }
                    & > span:nth-child(2) {
                        width: 40%;
                    }
                }
            }
        }
        & > li:first-child {
            padding: 5px 15px;
            margin-top: -1px;
            height: 55px;
            color: rgb(121, 121, 121);
            background-color: #fff;
            border-bottom: none;
            &:hover {
                background-color: #fff;
            }
            & > span:first-child {
                @include item();
                & > span:first-child {
                    @include item();
                }
                & > span:nth-child(2) {
                    @include item();
                }
            }
            & > span:nth-child(2) {
                & > span:nth-child(2) {
                    & > span:first-child {
                        @include item();
                    }
                }
            }
        }
        & > li:last-child {
            @include row-a-center();
            justify-content: center;
            width: 100%;
            height: 65px;
            padding: 30px 15px 15px 15px;
            font-size: 14px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(233, 232, 232);
            border-top: none;
            border-radius: 0 0 15px 15px;

            & > span {
                cursor: pointer;
                width: 300px;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 3px;
            }
            & > span:first-child {
                width: 18px;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width: 1170px) {
    .ShareHoldersMeeting {
        &__Container {
            @include column-a-center;
            width: 100%;
        }
    }
}

@media screen and (max-width: 890px) {
    .ShareHoldersMeeting {
        &__Container {
            padding: 0 10px;
        }
        &__Page {
            width: 100%;
            & > div {
                width: 100%;
            }
        }
        &__PageContent {
            @include column-a-center;
            width: 100%;
            padding: 0;
            & > li {
                @include column();
                justify-content: center;
                height: 95px;
                padding: 10px 10px;
                & > span:first-child {
                    @include row-a-center();
                    justify-content: flex-start;
                    width: 100%;
                    & > span:first-child {
                        width: auto;
                        padding-right: 20px;
                    }
                    & > span:nth-child(2) {
                        font-size: 16px;
                    }
                }
                & > span:nth-child(2) {
                    @include row-a-center();
                    justify-content: flex-start;
                    padding-top: 5px;
                    width: 100%;
                    & > span:first-child {
                        width: 40%;
                    }
                    & > span:nth-child(2) {
                        @include row-a-center();
                        justify-content: flex-start;
                        width: 60%;
                        & > span:first-child {
                            width: auto;
                            padding-right: 20px;
                        }
                        & > span:nth-child(2) {
                            width: auto;
                        }
                    }
                }
            }
            & > li:first-child {
                padding: 20px 15px 0 15px;
                height: 95px;
            }
            & > li:last-child {
                @include row-a-center();
                justify-content: center;
                height: 65px;
                padding: 25px 15px 20px 15px;
                & > span {
                    width: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 777px) {
    .ShareHoldersMeeting {
        &__Container {
            @include column-a-center;
            width: 100%;
            padding: 0 20px;
        }
        &__Page {
            width: 100%;
            & > div {
                display: flex;
                flex-direction: column-reverse;
                width: 100%;
            }
        }
        &__Arrange {
        margin-top: 20px;
        }
        &__Search {
        margin: 0;
        }
        &__PageContent {
            @include column-a-center();
            width: 100%;
            padding: 0;
            & > li {
                width: 100%;
                height: 120px;
                & > span:nth-child(2) {
                    @include column();
                    align-items: flex-start;
                    & > span:nth-child(2) {
                    padding-top: 10px;
                    }
                }
            }
        }
    }
}
