<div class="LoginCard">
    <div class="LoginCard__Container">
        <div>
            <ul class="LoginCard__LoginCategory">
                <li><img src="../../../../../assets/img/login2.jpg" alt=""><span>一般股東</span> </li>
                <li><img src="../../../../../assets/img/login3.jpg" alt=""><span>發行公司/<br>股務代理機構</span></li>
                <li><img src="../../../../../assets/img/login2.jpg" alt=""><span>專業機構法人</span></li>
            </ul>
            <div class="LoginCard__LoginInput">
                <span>
                    <span>身分證/統一編號</span>
                    <input type="text">
                    <span>憑證種類</span>
                    <input type="text">
                    <span>
                        <button>登入</button>
                    </span>
                </span>
                <span>操作教學<i class="fa fa-question-circle"></i></span>
            </div>
            <div class="LoginCard__NoviceTeaching">
                <button>新手上路</button>
                <button>首次使用設定</button>
            </div>
        </div>
    </div>
</div>