/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", sans-serif, "微軟正黑體", Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: 2rem;
    background-color: rgb(246, 250, 255);

}
html{
    padding: 0;
    margin: 0;
}