@import "../../../styles/mixin";

.Layout {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    &__Container {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    &__Main {
        @include column();
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
}