<div class="OtherLink">
    <div class="OtherLink__Container">
        <div class="OtherLink__OtherStockInfos">
            <div>
                <img src="../../../../../assets/img/l1.png" alt="">
                <img src="../../../../../assets/img/l2.png" alt="">
                <img src="../../../../../assets/img/l3.png" alt="">
                <img src="../../../../../assets/img/a1.png" alt="">
                <img src="../../../../../assets/img/a2.png" alt="">
                <img src="../../../../../assets/img/a3.png" alt="">
            </div>
        </div>
        <div class="OtherLink__RelatedAgencies">
            <li>相關機構</li>
            <li>金融監督管理委員會</li>
            <li>台灣證券交易所</li>
            <li>台灣期貨交易所</li>
            <li>證券櫃檯買賣中心</li>
            <li>台灣集保結算所</li>
            <li>more</li>
        </div>
    </div>
</div>