@import "../../../../../styles/style";

.OtherLink {
    @include column-a-center();
    width: 100%;
    &__Container {
        @include row-a-center();
        justify-content: center;
        width: 900px;
        padding: 0 20px;
        & > div {
            width: 650px;
            padding-right: 40px;
            & > img {
                cursor: pointer;
                width: 190px;
                padding: 15px 8px 5px 8px;
            }
        }
    }
    &__row {
        padding: 0;
        margin: 0;
    }
    &__OtherStockInfos {
        padding-top: 30px;
        width: 650px;
        & > div {
            width: 650px;
            padding-right: 40px;
            & > img {
                cursor: pointer;
                width: 190px;
                padding: 15px 8px 5px 8px;
            }
        }
    }
    &__RelatedAgencies {
        padding: 25px;
        margin-top: 25px;
        max-width: 250px;
        height: 280px;
        color: #4b5566;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 12px;
        list-style: none;
        & > li {
            cursor: pointer;
            padding-top: 10px;
            font-size: 15px;
            &:hover {
                color: rgb(45, 134, 218);
            }
        }
        & > li:first-child {
            cursor: default;
            padding-bottom: 5px;
            font-size: 18px;
            color: rgb(45, 134, 218);
        }
        & > li:last-child {
            @include row();
            justify-content: flex-end;
        }
    }
}

@media screen and (max-width: 890px) {
    .OtherLink {
        &__Container {
            @include column-a-center();
            width: calc(100% - 20px);
            & > div:first-child {
                width: 100%;
                padding: 0;
                & > img {
                    cursor: pointer;
                    width: 190px;
                    padding: 15px 8px 5px 8px;
                }
            }
        }
     
    }
}

@media screen and (max-width: 570px) {
    .OtherLink {
        &__Container {
            width: 100%;
            & > div {
                & > img {
                    padding: 1% ;
                }
            }
        }
    
    }
}
